.registration-form {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
}

.registration-form h2 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  /* border: 1px solid #ccc; */
  border-radius: 4px;
}

.submit {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submit button:hover {
  background-color: #45a049;
}

.div {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.shadow {
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}
input.ng-invalid.ng-touched{
  border: 1px solid rgb(238, 68, 68);
}

small{
  color: rgb(238, 68, 68);
}

small.black{
  color: black;
}