<main>
  <div class="div">
    <div class="registration-form" [ngClass]="{'shadow': registrationForm.touched}">
      <h2>Registration Form</h2>

      <form class="form" (ngSubmit)="onFormSubmit()" #registrationForm="ngForm">
        <div class="form-group">
          <label for="firstname">First Name:</label>
          <input type="text" name="firstname" ngModel #firstNameVal="ngModel" required>
          <small *ngIf="firstNameVal.invalid && firstNameVal.touched">*FirstName is required</small>
          <small class="black" *ngIf="firstName">You Entered: {{firstName}}</small>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name:</label>
          <input type="text" name="lastname" ngModel #lastNameVal="ngModel" required>
          <small *ngIf="lastNameVal.invalid && lastNameVal.touched">*Last Name is required</small>
          <small class="black" *ngIf="lastName">You Entered: {{lastName}}</small>
        </div>

        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" name="username" ngModel #usernameVal="ngModel" required>
          <small *ngIf="usernameVal.invalid && usernameVal.touched">*Username is required</small>
          <small class="black" *ngIf="userName">You Entered: {{userName}}</small>
          <button type="button" class="submit" (click)="generateUsername()"
            [disabled]="lastNameVal.invalid || firstNameVal.invalid">Generate Username</button>
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" name="email" ngModel #emailVal="ngModel" required email>
          <div style="display: flex; flex-direction: column;">
            <small *ngIf="emailVal.invalid && emailVal.touched">*Email is Invalide</small>
            <small class="black" *ngIf="Email">You Entered: {{Email}}</small>
          </div>


        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" name="password" ngModel #passwordVal="ngModel" required>
          <small *ngIf="passwordVal.invalid && passwordVal.touched">*Password is Invalide</small>
          <small class="black" *ngIf="Password">You Entered: {{Password}}</small>
        </div>

        <div class="gender">
          <label for="gender" style="padding-bottom: 5px;">Gender: </label>
          <div class="" *ngFor="let gen of Genders">
            <div class="center">
              <input type="radio" [value]="gen.display" name="gender" [ngModel]="defaultGender">
              <label for="gender">{{gen.display}}</label>
            </div>
          </div>
        </div>

        <div class="form-group" ngModelGroup="address" #addresVal="ngModelGroup">

          <div class="form-group">
            <input type="text" name="street1" placeholder="Street 1" ngModel required>
          </div>

          <div class="form-group ">
            <input type="text" name="country" placeholder="Country" ngModel required>
          </div>

          <div class="form-group">
            <input type="text" name="postalCode" placeholder="postal Code" ngModel required>
          </div>
          <small *ngIf="addresVal.invalid && addresVal.touched">*The required field/fields missng</small>
        </div>
        <div class="form-group">
          <div style="display: flex; align-items: center;">
            <input type="checkbox" name="agreement" style="width: 15px;" [ngModel]="isAgreed" #agree = "ngModel">
            <label for="agreement" style="margin-bottom: 1px;">Agree to terms & conditions</label>
          </div>
        </div>


        <div class="form-group">
          <input type="submit" class="submit" [disabled]="registrationForm.invalid || !agree.value">
        </div>
      </form>

    </div> 
  </div>
  <p>Username: {{' ' +userName}}</p>
  <p>FIrst Name: {{' ' +lastName}}</p>
  <p>Last Name: {{' ' +firstName}}</p>
</main>